---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Hero from "@components/Hero.astro";
import Welcome from "@components/Welcome.astro";
import Promotions from "@components/Promotions.astro";
import Services from "@components/Services.astro";
import Doctors from "@components/Doctors.astro";
import Locations from "@components/Locations.astro";
import Testimonials from "@components/Testimonials.astro";
import EmailSubscription from "@components/EmailSubscription.astro";
import SocialMedia from "@components/SocialMedia.astro";
---

<Layout>
  <main>
    <Header />
    <Hero />
    <Welcome />
    <Promotions />
    <Services />
    <Doctors />
    <Locations />
    <Testimonials />
    <EmailSubscription />
    <SocialMedia />
  </main>
</Layout>
