---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Hero from "@components/Hero.astro";
import Welcome from "@components/Welcome.astro";
---

<Layout>
  <main>
    <Header />
    <Hero />
    <Welcome />
  </main>
</Layout>
