---
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Todo para el cuidado integral de tu mascota en Lima: consultas, vacunación, cirugía, emergencias, radiografías, ecografías, spa, medicamentos, profilaxis dental y análisis de laboratorio. ¡Protege a tu mejor amigo con expertos en salud animal!"
      .
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Veterinaria y Spa para Mascotas en Lima | VetAriel</title>

    <!-- === INICIO: SCRIPT SCHEMA ORGANIZATION (JSON-LD) === -->
    <script
      type="application/ld+json"
      set:html={JSON.stringify({
        "@context": "https://schema.org",
        "@type": "Organization",
        name: "VetAriel",
        // "url": "[URL COMPLETA DE TU SITIO WEB, ej: https://www.vetariel.pe]",
        // "logo": "[URL COMPLETA DE TU LOGO, ej: https://www.vetariel.pe/logo-principal.png]",
        contactPoint: {
          "@type": "ContactPoint",
          telephone: "+51954599221",
          contactType: "customer service",
          areaServed: "PE",
          availableLanguage: ["es-PE"],
        },
        sameAs: [
          "https://www.facebook.com/arielsclinichv?mibextid=ibOpuV",
          "https://www.instagram.com/arielsclinichospital?igsh=MThxN3d1dmNoNmFqNw%3D%3D&utm_source=qr",
          "https://www.tiktok.com/@arielsclinichospital?_t=8khrdEF2zZt&_r=1",
        ],
      })}
    />
  </head>
  <body class="font-sans antialiased">
    <slot />
  </body>
</html>
